button {
  background: none;
  border: none;
  cursor: pointer;
}
.btn {
  cursor: pointer;
  height: $mob-button-height;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
}
.btn-main {
  background: $red;
  border: 1px solid $red;
  border-radius: 8px;

  h3,
  h4 {
    color: $white;
    text-transform: capitalize;
  }
  .icon-btn {
    width: 20px;
    height: 20px;
    margin: 6px;
    filter: invert(1);
  }
  &:hover {
    transition: ease 0.3s;
  }
  &:disabled {
    filter: saturate(0);
    opacity: 0.05;
  }
}

.select-ghost {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  background: none;
  border: 2px solid $black;
  border-radius: 8px;
  width: 90%;

  h4 {
    text-transform: capitalize;
    font-weight: 400;
  }

  &:hover {
    transition: ease 0.3s;
    background: $white;
    h4 {
      color: $black;
    }
    .dropdown-arrow {
      filter: invert(0);
    }
  }
}
