.section-ingredients {
  justify-self: center;
  padding: 0 8px;
  color: $black;
  text-align: center;
  @media only screen and (min-width: $desktopBreakpoint) {
    width: 800px;
    margin: 8px auto;
    padding: 0;
  }
  .pills {
    border: 2px solid $gray3;
    box-sizing: border-box;
    border-radius: 100px;
    margin: 5px;
    padding: 2px;
    color: $black;
  }
  ul {
    height: min-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
