.section-products {
  $card-height: 220px;
  display: grid;
  gap: 18px;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  padding: 18px;
  margin-top: 24px;
  margin-bottom: 24px;
  border-radius: 0 0 8px 8px;
  align-items: center;
  @media only screen and (min-width: $tabletBreakpoint) {
    grid-template-columns: 1fr 1fr;
  }
  .card {
    color: $black;
    border-radius: 8px;
    overflow: hidden;
    height: $card-height;
    display: grid;
    grid-template-columns: 55% 1fr;
    grid-template-rows: min-content 1fr min-content;
    grid-template-areas: "img title" "img description " "img price";
    @include shadow-card;
    @media only screen and (min-width: $tabletBreakpoint) {
      width: 100%;
    }
    &:hover {
      background-color: $white;
    }
    img {
      grid-area: img;
      height: $card-height;
      width: 100%;
      object-fit: cover;
      object-position: top center;
    }
    .title,
    p {
      padding: 0 18px;
    }
    .title {
      margin: 12px 0;
      grid-area: title;
      justify-self: center;
      text-align: left;
      width: 100%;
      max-width: 350px;
      text-transform: capitalize;
      font-weight: bold;
    }
    .description {
      grid-area: description;
      max-width: 350px;
      padding: 5px;
    }
    .price {
      grid-area: price;
      max-width: 350px;
      padding: 5px;
    }
  }
}
