.section-sorter {
  margin: 18px 0;
  display: flex;
  justify-content: center;
  width: 100%;
  .btn {
    width: 170px;
    border-radius: 8px;
  }
  .btn-inactive {
    h4 {
      color: $black;
      font-weight: bold;
    }
    &:hover {
      background: $gray3;
      border: 1px solid $black;
      transition: 0.3s ease;
    }
  }
  .btn-active {
    background: $gray3;
    border: 1px solid $black;
    margin: 0 6px;
    h4 {
      background: $gray3;
      color: $white;
    }
  }
}
